<ul class="list-unstyled">

    {% for article in articles %}
        <li>

            <h4>
                <a href="{{ article.route('view') }}">{{ article.title }}</a>

                <br>

                <small>
                    {{ article.section.category.name }} &rsaquo; {{ article.section.name }}
                </small>
            </h4>

            <ul class="list-unstyled">
                {% for tag in article.tags.value %}
                    <li>
                        <a href="{{ url_route('anomaly.module.help::tags.view', {'tag': tag}) }}"
                           class="label label-info list-inline-item">
                            {{ tag }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </li>
    {% endfor %}

</ul>
