{% extends layout('help') %}

{% block content %}
    <div id="help">
        <div class="container">

            <h1>{{ article.title }}</h1>

            <ul class="list-inline">
                <li>
                    <span class="posted">
                        {{ trans('anomaly.module.help::message.posted', {'date': article.created_at.format('F j, Y')}) }}
                    </span>
                </li>
                <li>
                    <a href="{{ article.category.route('view') }}"
                       class="label label-default list-inline-item">
                        {{ article.category.name }}
                    </a>
                </li>
                {% if article.tags %}
                    <li>
                        <span class="tags">
                            {% for tag in article.tags.value %}
                                <a href="{{ url_route('anomaly.module.help::tags.view', {'tag': tag}) }}"
                                   class="label label-info list-inline-item">
                                    {{ tag }}
                                </a>
                            {% endfor %}
                        </span>
                    </li>
                {% endif %}
            </ul>

            <hr>

            <div class="row">
                <div class="col-lg-9">
                    {{ article.content|raw }}
                </div>

                <div class="col-lg-3">
                    {% include "anomaly.module.help::articles/partials/sidebar" %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
